<ion-view view-title="Banana Fitness" style = "background-image: url('http://foodmatters.tv/images/bananas.jpg');">
  <ion-content>
  <div class = "row center">
    <img src = "https://cdn2.iconfinder.com/data/icons/food-icons-6/200/food_banana-512.png" style = "height:200px;display:block;margin:auto;">
  </div>
  <div class="row">
     <div class="col text-center">
        <a class="button button-large button-balanced" style = "margin-right:40px;" href="#/login">Sign in</a>
        <a class="button button-large button-balanced" href="#/signup" >Sign up</a>
     </div>
  </div>
  <div class="card" style = "width">
  <div class="item item-text-wrap" style = 'text-align:center;'>
    "Life is full of banana skins. You slip, you carry on."
  </div>
  <div class="item item-image">
    <img src="http://cdn.instructables.com/FPR/85RY/GPBDG81Y/FPR85RYGPBDG81Y.RECTANGLE1.jpg" >
  </div>
  <div class="item item-image">
    <img src="http://d2ufjv2mjmrw7m.cloudfront.net/sites/default/files/2012-open-begins.jpg" >
  </div>
</div>
  </ion-content>
</ion-view>
