<ion-view view-title="My Profile">
  <ion-nav-buttons side="primary">
      <i class="ion-arrow-left-c" ng-click='navigate()'></i> Back
  </ion-nav-buttons>
  <ion-content>
    <ul class="list" ng-model="personalData">
      <li class="item">
        {{ personalData.name }}
      </li>
      <li class="item">
        {{ personalData.location }}
      </li>
      <li class="item">
        {{ personalData.age }}
      </li>
      <li class="item">
        {{ personalData.username }}
      </li>
    </ul>
  </ion-content>
</ion-view>
