<ion-view view-title="Add/Edit Workout" ng-controller="WorkoutEditsCtrl">
    <ion-nav-buttons side="secondary">


        <!-- <h1 class="title">{{workout.name}}</h1> -->

            <button class="button" ng-click "addEx()">Add Exercise</button>

    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="move in workout track by $index" class="item-thumbnail-left">
                <!-- <img ng-src="{{move.img}}"> if we want images-->
                <h2>{{move.name}}</h2>
                <h2>{{move.weight}}</h2>
                <h2>{{move.sets}}</h2>
                <h2>{{move.reps}}</h2>
                <!-- <p>{{move.description}}</p> if we want descriptions-->
                <ion-option-button class="button-assertive" ng-click="deleteEx(move)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="editEx(move)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="workout.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(move, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>