<ion-view ng-controller='FollowingFeedCtrl'>
  <ion-nav-buttons >
      <button class="button" href="/#/app/menu">
      <i class="icon ion-navicon"></i></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="workout in workouts track by $index">
        <button class="button button-clear button-dark" ng-click="selectWorkout(workout.id)">
            <h2>{{workout.name}}</h2></button>
        <button class="button button-clear button-dark" ng-click="selectWorkout(workout.id)">
            <h3>{{workout.user}}</h3></button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-positive">
  <ion-tab title="Workouts" href="/#/app/workouts"></ion-tab>
  <ion-tab title="All" href="/#/app/universalfeed"></ion-tab>
  <ion-tab title="Following" href="/#/app/followingfeed"></ion-tab>
</ion-tabs>
</ion-view>
