<ion-view view-title="Tabs">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Workouts Tab -->
    <ion-tab title="Workouts" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/workouts">
      <ion-nav-view name="tab-workouts"></ion-nav-view>
    </ion-tab>

    <!-- Universal Feed Tab -->
    <ion-tab title="Universal Feed" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/universalfeed">
      <ion-nav-view name="tab-universalfeed"></ion-nav-view>
    </ion-tab>

    <!-- Followers Feed Tab -->
    <ion-tab title="Following Feed" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/followersfeed">
      <ion-nav-view name="tab-followersfeed"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-toggle-outline" icon-on="ion-ios-toggle" href="#/tab/settings">
      <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
