/* Empty. Add your own CSS if you like */
.bar {
  background-color: yellow !important;
}

.title {
  color: black !important;
}

.tab-item{
  color: black !important;
}

.button{
  background-color: #33cd5f !important;
  border-color: #33cd5f !important;
  color: white !important;
}

.primary-buttons{
  color: black !important;
}